{% extends 'base.html' %}

{% block content%}

<!--

<form class="" action="" method="get">

<input type="text" name="q" placeholder="Search">
<input type="submit" value='Search'>


</form>
!-->

  {% for obj in object_list %}


  <ul>
    <a href="{{obj.get_absolute_url}}">
      <li>{{obj.title}}</li>
    </a>
      {% if obj.products.count == 1%}
          {{obj.products.count}} product
      {% else %}
          {{obj.products.count}} products
      {% endif %}

  </ul>

    {% empty %}
    <ul>
      No Tags yet.
    </ul>

  {% endfor %}


{% endblock content%}
