{% extends "base.html" %}


{% block content%}

    <h1>{{product.title}} </h1>

    <p>
      {{product.description}}
    </p>
    <p>
      Price: {{product.price}}
    </p>


    {% for img in product.thumbnail_set.all %}

      <img src="{{ img.media.url }}" />

    {% endfor %}

    {% if product.media and request.user.is_authenticated and product in request.user.myproducts.products.all %}
      <p>
        <a href="{{product.get_download }}">Download</a>

      </p>
    {% endif %}

{% endblock content%}
